body {
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
    padding: 20px;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
  }
  .nav button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 0.5px solid #ccc;
    
    font-weight: bold;
    background-color: white; 
    cursor: pointer;
  }
  .nav button.active {
    background-color: #3b82f6; 
    color: white;
  }
  .nav button.correct {
    background-color: #10b981 !important; 
    color: white;
  }
  .nav button.incorrect {
    background-color: #ef4444 !important; 
    color: white;
  }
  .question {
    margin-bottom: 20px;
    padding: 15px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
  }
  .question.active {
    display: block;
  }
  button.main {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }
  #result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  button.next {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f67d3b;
    color: white;
    cursor: pointer;
    margin-right: 10px;
  }